# Housing - exploratory data analysis (VISUALIZE)

NYC housing dataset b/w in 2012-13, seperated by boroughs

use created OUTPUT file at EDA stage 

- [ ] get an intuitive understanding, 
- [ ] clear data
- [ ] adjust columns data types
- [ ] adjust columns
- [ ] enrich
- [ ] outlier and missing values
- [x] visualize
- [x] make comparisons
- [ ] then **create an OUTPUT file for other models**

### possible deletion columns: 
   - borough, building_class_category .. (extracted into diff. columns)
   - block, lot (nonsense)
   - easement (%100 empty), 
   - apartment_number (%74 empty)
   - 50% of estates has 0 land_square_feet
   - 50% of estates has 0 gross_square_feet

### domain knowledge 
  - building_class_at_present: may be mapped into 3 groups to use later ?
  - building_class_at_present vs building_class_at_sale change has any meaning?
  - tax_class_at_present vs tax_class_at_sale has any meaning? (1, 2 and 4 is dominating values)
  - 10019 zipcode is %7 of houses, and 70K houses are located in of 100 zipcodes
  - 50% of estates has 0 land_square_feet and gross_square_feet. can be groupped into less categories?
  - 4000+ diff. apartment_number in 85K rows.
  - residential_units (165 types), %50 is 0 and 1 (40K+ rows) and 30K+ NaN. can be grouped into less categories?
  - commercial_units (23 types), 0 has 20K+, NaN is 60K+
  - can residential_units and commercial_units be used meaningful dummy column?
  - total_units (171 types), 1 (25K+, 0 (16K+), 2 (8K+) and NaN is 30K
     - total = residental + commercial ?
     - if there are dif, can we set to commercial or we should delete  or we may use to create a dummy category ?
     - if total = 0 , what we should do?

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

import decimal

sns.set()

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', None)

In [8]:
raw_data = pd.read_csv('dataset/housing/output_after_eda.csv', \
                       dtype={"building_class": object, "tax_class_at_sale": object}, \
                       parse_dates=['sale_date'], infer_datetime_format=True)



raw_data.head()

,borough_name,neighborhood,building_class,building_class_name,tax_class_at_present,tax_class_at_sale,block,lot,building_class_at_present,building_class_at_sale,address,zipcode,residential_units,commercial_units,total_units,land_square_feet,gross_square_feet,year_built,sale_date,sale_price,currency
0,Manhattan,NaN,13,CONDOS - ELEVATOR APARTMENTS,,2,738,1306,,R4,345 WEST 14TH STREET,10014,0.0,NaN,0.0,0,0,0,2013-05-20,2214693.0,USD
1,Manhattan,NaN,13,CONDOS - ELEVATOR APARTMENTS,,2,738,1307,,R4,345 WEST 14TH STREET,10014,0.0,NaN,0.0,0,0,0,2013-05-16,1654656.0,USD
2,Manhattan,NaN,13,CONDOS - ELEVATOR APARTMENTS,,2,738,1308,,R4,345 WEST 14TH STREET,10014,0.0,NaN,0.0,0,0,0,2013-05-23,1069162.0,USD
3,Manhattan,NaN,13,CONDOS - ELEVATOR APARTMENTS,,2,738,1309,,R4,345 WEST 14TH STREET,10014,0.0,NaN,0.0,0,0,0,2013-05-15,1374637.0,USD
4,Manhattan,NaN,13,CONDOS - ELEVATOR APARTMENTS,,2,738,1310,,R4,345 WEST 14TH STREET,10014,0.0,NaN,0.0,0,0,0,2013-05-13,1649565.0,USD

In [9]:
raw_data.dtypes

borough_name                         object
neighborhood                         object
building_class                       object
building_class_name                  object
tax_class_at_present                 object
tax_class_at_sale                    object
block                                 int64
lot                                   int64
building_class_at_present            object
building_class_at_sale               object
address                              object
zipcode                               int64
residential_units                   float64
commercial_units                    float64
total_units                         float64
land_square_feet                      int64
gross_square_feet                     int64
year_built                            int64
sale_date                    datetime64[ns]
sale_price                          float64
currency                             object
dtype: object

In [10]:
raw_data.describe(include='all')

,borough_name,neighborhood,building_class,building_class_name,tax_class_at_present,tax_class_at_sale,block,lot,building_class_at_present,building_class_at_sale,address,zipcode,residential_units,commercial_units,total_units,land_square_feet,gross_square_feet,year_built,sale_date,sale_price,currency
count,85975,85950,81771,81771,85975,85975,85975.000000,85975.000000,85975,85975,85975,85975.000000,56246.000000,23583.000000,56246.000000,8.597500e+04,8.597500e+04,85975.000000,85975,8.597500e+04,85975
unique,5,256,39,39,11,8,NaN,NaN,170,170,63419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,386,NaN,1
top,Manhattan,MIDTOWN WEST,01,ONE FAMILY HOMES,2,2,NaN,NaN,D4,D4,870 7 AVENUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-09-27 00:00:00,NaN,USD
freq,27395,6264,14846,14846,32899,36960,NaN,NaN,13461,13461,2087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,988,NaN,85975
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-08-01 00:00:00,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-08-26 00:00:00,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,3661.041721,405.420541,NaN,NaN,NaN,10758.035254,1.956850,0.150702,2.307666,3.085275e+03,5.049742e+03,1681.403303,NaN,8.850979e+05,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,3404.028873,652.166743,NaN,NaN,NaN,662.101399,11.571244,3.237054,12.318554,5.501497e+04,2.836546e+04,670.796500,NaN,9.424213e+06,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,NaN,0.000000e+00,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,1052.000000,23.000000,NaN,NaN,NaN,10028.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,1910.000000,NaN,0.000000e+00,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2157.000000,51.000000,NaN,NaN,NaN,11201.000000,1.000000,0.000000,1.000000,1.512000e+03,6.500000e+02,1931.000000,NaN,2.600000e+05,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5599.000000,1009.000000,NaN,NaN,NaN,11238.000000,1.000000,0.000000,2.000000,2.625000e+03,2.344000e+03,1964.000000,NaN,6.200000e+05,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,16323.000000,9117.000000,NaN,NaN,NaN,11694.000000,904.000000,436.000000,904.000000,7.446955e+06,2.548000e+06,2013.000000,NaN,1.307965e+09,NaN

# cross analysis

In [11]:
k = raw_data[['building_class_name', 'residential_units']] 


k.groupby([ 'building_class_name', 'residential_units']).size()#.sort_values(ascending=False).unstack('residential_units')#.plot(kind='pie')

building_class_name                      residential_units
ASYLUMS AND HOMES                        0.0                      3
                                         2.0                      1
                                         40.0                     1
                                         65.0                     1
COMMERCIAL CONDOS                        0.0                   1194
COMMERCIAL GARAGES                       0.0                    506
                                         1.0                      5
                                         2.0                      1
COMMERCIAL VACANT LAND                   0.0                    253
                                         9.0                      2
                                         20.0                     2
                                         105.0                    1
CONDO-RENTALS                            0.0                      4
                                         8.0                      1
                                         12.0                     1
                                         17.0                     3
                                         20.0                     1
                                         30.0                     1
                                         34.0                     1
                                         39.0                     1
                                         50.0                     1
                                         60.0                     1
                                         61.0                     1
                                         63.0                     1
                                         79.0                     1
                                         85.0                     2
                                         89.0                     1
                                         90.0                     1
                                         101.0                    2
                                         109.0                    1
                                         111.0                    1
                                         117.0                    1
                                         134.0                    1
                                         146.0                    1
                                         162.0                    1
                                         904.0                    1
CONDOPS                                  0.0                   1306
                                         1.0                      9
                                         4.0                      1
                                         17.0                     1
                                         65.0                     1
                                         71.0                     1
                                         98.0                     1
                                         105.0                    1
CONDOS - 2-10 UNIT RESIDENTIAL           0.0                      7
                                         1.0                    441
CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT  0.0                     57
CONDOS - ELEVATOR APARTMENTS             0.0                    109
                                         1.0                  10334
CONDOS - WALKUP APARTMENTS               0.0                     13
                                         1.0                    384
COOPS - ELEVATOR APARTMENTS              0.0                  11570
                                         4.0                      1
                                         13.0                     1
                                         33.0                     1
                                         42.0                     1
                                         50.0                     1
                                         52.0                     1
                                         76.0                     1
                                         95.0                     1
                                         128.0                    1
                                         156.0                    1
                                         165.0                    1
                                         168.0                    1
                                         172.0                    1
                                         180.0                    1
                                         185.0                    1
                                         188.0                    1
                                         200.0                    1
                                         207.0                    2
                                         256.0                    1
                                         274.0                    1
                                         291.0                    1
                                         334.0                    1
                                         340.0                    1
                                         360.0                    2
                                         437.0                    1
                                         522.0                    1
                                         658.0                    1
COOPS - WALKUP APARTMENTS                0.0                   1865
                                         4.0                      1
                                         8.0                      6
                                         9.0                      2
                                         10.0                     3
                                         11.0                     1
                                         12.0                     2
                                         15.0                     1
                                         16.0                     2
                                         20.0                     3
                                         25.0                     1
                                         28.0                     1
                                         30.0                     1
                                         73.0                     1
                                         128.0                    1
                                         152.0                    1
                                         176.0                    1
                                         194.0                    1
EDUCATIONAL FACILITIES                   0.0                     30
                                         1.0                      1
                                         3.0                      2
FACTORIES                                0.0                    169
                                         1.0                      1
                                         4.0                      3
HOSPITAL AND HEALTH FACILITIES           0.0                     23
                                         8.0                      1
                                         28.0                     1
                                         229.0                    1
                                         314.0                    1
INDOOR PUBLIC AND CULTURAL FACILITIES    0.0                     12
                                         1.0                      4
                                         2.0                      1
LOFT BUILDINGS                           0.0                     99
                                         1.0                      5
                                         2.0                      2
                                         3.0                     13
                                         4.0                      7
                                         5.0                      3
                                         7.0                      2
                                         9.0                      1
LUXURY HOTELS                            0.0                   1645
OFFICE BUILDINGS                         0.0                    234
                                         1.0                     10
                                         2.0                      6
                                         3.0                      3
                                         4.0                      4
                                         6.0                      2
                                         7.0                      1
                                         17.0                     1
                                         56.0                     1
ONE FAMILY HOMES                         1.0                   8451
                                         2.0                     11
                                         5.0                      1
OTHER HOTELS                             0.0                     28
                                         27.0                     1
OUTDOOR RECREATIONAL FACILITIES          0.0                      7
RELIGIOUS FACILITIES                     0.0                     54
                                         1.0                      2
                                         2.0                      7
RENTALS - 4-10 UNIT                      2.0                     30
                                         3.0                    120
                                         4.0                    123
                                         5.0                     47
                                         6.0                     65
                                         12.0                     1
RENTALS - ELEVATOR APARTMENTS            1.0                      2
                                         4.0                      5
                                         6.0                      2
                                         7.0                      1
                                         8.0                     10
                                         9.0                      4
                                         10.0                     8
                                         11.0                     5
                                         12.0                    10
                                         13.0                     3
                                         14.0                     5
                                         15.0                    13
                                         16.0                     9
                                         17.0                     3
                                         18.0                     7
                                         20.0                     2
                                         21.0                     7
                                         22.0                     3
                                         23.0                     5
                                         24.0                    10
                                         25.0                     1
                                         26.0                     3
                                         27.0                     1
                                         28.0                     5
                                         29.0                     6
                                         30.0                     6
                                         31.0                     4
                                         32.0                     4
                                         33.0                     1
                                         34.0                    15
                                         35.0                     6
                                         36.0                    16
                                         37.0                    23
                                         38.0                     3
                                         39.0                     5
                                         40.0                     4
                                         41.0                     2
                                         42.0                    10
                                         43.0                     9
                                         44.0                     6
                                         45.0                     2
                                         46.0                     5
                                         47.0                    12
                                         48.0                    12
                                         49.0                     7
                                         50.0                     4
                                         51.0                     4
                                         52.0                     4
                                         53.0                     4
                                         54.0                    11
                                         55.0                     6
                                         56.0                     2
                                         58.0                     1
                                         59.0                     4
                                         60.0                    11
                                         61.0                     7
                                         62.0                     3
                                         64.0                     3
                                         65.0                     1
                                         66.0                     8
                                         67.0                     3
                                         68.0                     2
                                         70.0                     6
                                         71.0                     2
                                         72.0                     4
                                         73.0                     1
                                         74.0                     1
                                         75.0                     3
                                         77.0                     1
                                         78.0                     1
                                         79.0                     1
                                         80.0                     3
                                         81.0                     3
                                         83.0                     1
                                         84.0                     3
                                         85.0                     2
                                         89.0                     2
                                         91.0                     1
                                         92.0                     4
                                         94.0                     3
                                         96.0                     2
                                         100.0                    1
                                         102.0                    1
                                         103.0                    1
                                         105.0                    4
                                         107.0                    1
                                         109.0                    1
                                         112.0                    2
                                         114.0                    1
                                         116.0                    2
                                         119.0                    1
                                         120.0                    2
                                         123.0                    1
                                         125.0                    1
                                         126.0                    1
                                         128.0                    1
                                         130.0                    1
                                         136.0                    1
                                         147.0                    1
                                         149.0                    1
                                         151.0                    1
                                         154.0                    1
                                         157.0                    1
                                         161.0                    4
                                         163.0                    1
                                         170.0                    3
                                         172.0                    2
                                         175.0                    1
                                         176.0                    1
                                         177.0                    1
                                         180.0                    2
                                         188.0                    1
                                         192.0                    1
                                         197.0                    2
                                         202.0                    2
                                         209.0                    2
                                         211.0                    1
                                         255.0                    1
                                         278.0                    1
                                         300.0                    1
                                         321.0                    1
                                         397.0                    1
                                         417.0                    1
                                         510.0                    1
                                         522.0                    1
RENTALS - WALKUP APARTMENTS              3.0                      4
                                         4.0                    370
                                         5.0                    102
                                         6.0                    332
                                         7.0                     77
                                         8.0                    178
                                         9.0                     85
                                         10.0                   122
                                         11.0                    44
                                         12.0                    46
                                         13.0                    29
                                         14.0                    26
                                         15.0                    46
                                         16.0                    80
                                         17.0                    24
                                         18.0                    35
                                         19.0                    14
                                         20.0                   137
                                         21.0                    40
                                         22.0                    33
                                         23.0                    15
                                         24.0                    40
                                         25.0                    21
                                         26.0                    17