In [2]:
import pandas as pd

df = pd.DataFrame({"A": ["a", "b", "c", "a"]})

In [5]:
df['B'] = df['A'].astype('category')

In [6]:
df

   A  B
0  a  a
1  b  b
2  c  c
3  a  a

In [8]:
df.describe(include='all')

        A  B
count   4  4
unique  3  3
top     a  a
freq    2  2

In [9]:
df.dtypes

A      object
B    category
dtype: object

In [12]:
df.B.cat.categories

Index(['a', 'b', 'c'], dtype='object')