In [1]:
%matplotlib inline

import pandas as pd
import seaborn as sns

sns.set()

In [42]:
titles = pd.read_csv('../dataset/titles.csv')

titles.head() # creates a new dataframe !. so we can use less data for some kind of analytis

                          title  year
0         Chatur Singh Two Star  2011
1     Night Train for Inverness  1960
2                Njiur melambai  1951
3  Roya-ye nime-shab-e tabestan  1994
4       Undskyld jeg forstyrrer  2012

In [43]:
cast = pd.read_csv('../dataset/cast.csv')

cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [47]:
k = titles.head(20)

k['decades'] = k['year'] // 10 * 10

k

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                        title  year  decades
0                       Chatur Singh Two Star  2011     2010
1                   Night Train for Inverness  1960     1960
2                              Njiur melambai  1951     1950
3                Roya-ye nime-shab-e tabestan  1994     1990
4                     Undskyld jeg forstyrrer  2012     2010
5                          Lion of the Desert  1980     1980
6                             Bertolo Balodoy  1939     1930
7                          Lookin' to Get Out  1982     1980
8   ROH & NJPW Present War of the Worlds 2017  2017     2010
9                                    Stupid 7  2013     2010
10                            Sinfonia fatale  1947     1940
11                                       Hawa  2003     2000
12                           40 Is the New 20  2009     2000
13                                       Leon  2018     2010
14                   Double Happiness Uranium  2013     2010
15                             Fallen Brother  2016     2010
16                           Lo La'alot Yoter  1979     1970
17                               Full Contact  1993     1990
18                       Searching for Angels  2011     2010
19                     Gramps Goes to College  2014     2010

In [45]:
k['year'] > 1980

0      True
1     False
2     False
3      True
4      True
5     False
6     False
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15     True
16    False
17     True
18     True
19     True
Name: year, dtype: bool

In [74]:
k[(k['year'] > 1980) & (k['year'] < 2010)]

# returns the rows of dataframe (a bit different from above one!)
# and operator is not valid in this panda syntax.
# and () are very important :)

                           title  year  decades
3   Roya-ye nime-shab-e tabestan  1994     1990
7             Lookin' to Get Out  1982     1980
11                          Hawa  2003     2000
12              40 Is the New 20  2009     2000
17                  Full Contact  1993     1990

### How many movies are listed in the titles dataframe?

In [46]:
titles.count()

# or len(titles)

title    244914
year     244914
dtype: int64

### What are the earliest two films listed in the titles dataframe?

### How many movies have the title "Hamlet"?

In [58]:
x = cast[cast['title'] == 'Hamlet']

len(x)

342

### How many movies are titled "North by Northwest"?

In [56]:
len(cast[cast['title'] == 'North by Northwest'])

116

### When was the first movie titled "Hamlet" made?

### List all of the "Treasure Island" movies from earliest to most recent.

### How many movies were made in the year 1950?

### How many movies were made in the year 1960?

### How many movies were made from 1950 through 1959?

### In what years has a movie titled "Batman" been released?

### How many roles were there in the movie "Inception"?

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?