In [2]:
%matplotlib inline
import pandas as pd

In [3]:
titles = pd.read_csv('../dataset/titles.csv')

# faster to calculates such 30s or 50s .)

titles['decades'] = titles['year'] // 10 * 10


titles.head()

                          title  year  decades
0         Chatur Singh Two Star  2011     2010
1     Night Train for Inverness  1960     1960
2                Njiur melambai  1951     1950
3  Roya-ye nime-shab-e tabestan  1994     1990
4       Undskyld jeg forstyrrer  2012     2010

In [4]:
cast = pd.read_csv('../dataset/cast.csv')

cast['decades'] = cast['year'] // 10 * 10

cast.head()

,title,year,name,type,character,n,decades
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0,2010
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0,1980
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0,2010
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN,2010
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN,2010

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

### How many years have been "Batman years", with more Batman characters than Superman characters?

### Plot the number of actor roles each year and the number of actress roles each year over the history of film.

### Plot the number of actor roles each year and the number of actress roles each year, but this time as a kind='area' plot.

### Plot the difference between the number of actor roles each year and the number of actress roles each year over the history of film.

### Plot the fraction of roles that have been 'actor' roles each year in the history of film.

### Plot the fraction of supporting (n=2) roles that have been 'actor' roles each year in the history of film.

### Build a plot with a line for each rank n=1 through n=3, where the line shows what fraction of that rank's roles were 'actor' roles for each year in the history of film.